/* this needs a lot of work, should print instructions on each page */

@media print {
    .print-hide {
        display: none !important;
    }

    .shares-list>li {
        page-break-after: always;
    }

    .share-qr-code {
        margin: 50px;
    }

    ul {
        list-style-type: none;
    }
}